@charset "ISO-8859-1";

html,body {
    height: 100%;
    font-size: 16px;
    margin: 0px;
    background-color: #f6f6f6;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F4F4F;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: rgb(20, 131, 210);
  }
  .active {
  background-color: #4CAF50;
}
  
  footer{
    background-color: #333;
    color: white;
    padding:0.5%;
    text-align: center;
}

.navCategories ul{
	background-color: rgb(20, 131, 210);
}

.navCategories ul li a:hover {
    background-color: rgb(20, 62, 120);
  }
  
 .List{
    width: 90%;
    margin: 4% 3%;
    padding:2%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
  }

  .List h1{
      text-align: center;
  }

  .List table{
     width: 100%;
     text-align: center;
  }

 .List td {
    border-top: 1px solid #ddd;
    padding: 2% 0%;
  }
  
  .login{
  margin: 5% 25%;
  padding: 2%;
  width:46%;
  border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    text-align: center;
}

.registration{
  margin: 2% 20%;
  padding: 2%;
  width:56%;
  border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    text-align: center;
}

.wrapper {
  min-height: 100%;
}

.titre{
    text-align: center;
    padding: 1%;
    margin: 0%;
  }
  